.container {
  padding: 15px;
  text-align: center;
}

.title-page {
  font-size: 36px;
  letter-spacing: 0.06em;
  margin-bottom: 20px;
}

.search-input {
  width: 300px;
  height: 30px;
  margin-bottom: 30px;
  padding-left: 10px;
  border-color: transparent;
  border-radius: 4px;
}

.card__title {
  margin-bottom: 30px;
  font-size: 28px;
  line-height: 1.18;
  letter-spacing: 0.06em;
}

.card__container {
  display: flex;
  justify-content: center;
}

.card-list {
  padding-left: 0;
  text-align: left;
  margin-right: 30px;
}

.card-list__item:not(:last-child) {
  margin-bottom: 5px;
}

.card-list__title,
.card-list__text {
  display: inline-block;
  font-size: 16px;
}

.card-list__title {
  margin-right: 5px;
}

.list-lang {
  margin-right: 0;
  padding-left: 20px;
}

.list-lang__item {
  list-style-type: disc;
}
